
form input#search{
	width: 425px;
}

#bell{
	border: none;
}

.top{
	margin-top: 15px;
}

#vid{
	padding: 0px !important;
}

#video_img{
	max-height: 100%;
	max-width: 100%;
}

.well{
	background: none;
}
#sideheader{
	margin-top: 0;
}

#upnext{
	display: inline-block;
	width: 100px;
}

#autoplay{
	display: inline-block;
	margin-left: 120px;
}

.media img{
	width: 120px;
	height: 67px;
}

.media-body h5{
	font-weight: bold;
	font-size: 90%;
}

.media-body h6{
	margin-bottom: 2px;
	margin-top: 0;
	font-size: 75%;
	color: grey;
}

#left .media img{
    width: 55px;
    height: 55px;
}
#comment_box{
    border: 1px solid silver;
    height: 55px;
    padding: 10px;
    color: silver;
    border-radius: 2px;
}
#line{
    border-top: .1em solid silver;
    margin: 25px 0px;
}
#comments_section{
    margin-top: 20px;
}
#comments_section .media-body a:hover,.reply_content a:hover{
	text-decoration: none;
	color: #337ab7;
}
#top_comment ul{
	padding: 10px;
}
.grey_text{
	color: grey;
	font-size: .8em;
}
.grey{
	color: silver;
}
.blue_text{
	color: #337ab7;
}
.reply_btn{
    border: none;
    padding: 0px;
}
#comments_section .respond_group a{
	color: lightgrey;
}
#comments_section .media-middle {
    vertical-align: top;
}
#comments_section .respond_group:hover a:hover{
	color: darkgrey;
}
.reply_content{
	padding-left: 2%;
}

.reply_content .media .media-left img {
    width: 50px !important;
    height: 50px !important;
}
#comments_section .media-body p{
    margin: 2px 0px;
}
/*.fa-thumbs-up, .fa-thumbs-down{

}*/

/*@media (min-width: 1000px) {

}
*/
#comments_section .report{
	float: right;
}
#comments_section .report a:hover{
	color: grey;
}
